{
  "presets": [
    [
      "next/babel",
      {
        "styled-jsx": {
          "optimizeForSpeed": true,
          "plugins": [
            [
              "styled-jsx-plugin-postcss", {
                "path": "[PATH_PREFIX]/.postcssrc.json",
                "compileEnv": "worker"
              }
            ]
          ]
        }
      }
    ]
  ]
}
