:root {
  font-size: 16px;
  line-height: 1.618;
}

body {
  padding: 0;
  margin: 0;
  min-width: 320px;
  font-family: system-ui;
  background-color: var(--color-background);
  color: var(--color-foreground);
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button,
input,
select {
  font-family: inherit;
  font-size: inherit;
}

select {
  display: inline-block;
  margin: 0;
  padding: 0.1em calc(1em + 16px) 0.1em 0.6em;
  border: none;
  line-height: inherit;
  appearance: none;
	outline: none;
  border-radius: 6px;
  color: var(--color-text-tertiary);
  background-color: var(--color-accent-1);
  box-shadow: 0 0 4px 1px rgba(0 0 0 / .05), 0 2px 6px 0 rgba(0 0 0 / .05);

  &::-ms-expand { display: none }

  &:hover { box-shadow: 0 0 1px 1px var(--color-state-focus-outline) }
  &:focus { box-shadow: 0 0 1px 2px var(--color-state-focus-outline) }

  & option {
    font-weight: normal;
    color: var(--color-text-primary);
  }
}

svg:not([fill='none']) {
  fill: currentColor;
}

::placeholder {
  color: var(--color-input-border);
}

::selection {
  color: var(--color-selection-text);
  background-color: var(--color-selection-background);
}
