:root {
  --color-primary: hsl(169deg 83% 55%);
  --color-secondary: hsl(252deg 82% 60%);
  --color-tertiary: hsl(320deg 77% 55%);

  --color-foreground: hsl(236deg 10% 33%);
  --color-background: hsl(225deg 100% 99%);

  --color-text-primary: var(--color-foreground);
  --color-text-secondary: hsl(228deg 11% 43%);
  --color-text-tertiary: hsl(217deg 27% 72%);

  --color-accent-1: hsl(0deg 0% 100%);
  --color-border: rgba(163 178 202 / 0.2);

  --color-selection-text: var(--color-foreground);
  --color-selection-background: hsla(169deg 83% 55% / .5);

  --color-input-border: hsl(214deg 13% 80%);
  --color-state-focus-border: rgba(59 153 252 / 1);
  --color-state-focus-outline: rgba(59 153 252 / .7);

  --color-status-ok: var(--color-primary);
  --color-status-warn: hsl(45deg 100% 51%);
  --color-status-error: red;

  --color-calendar-graph-Q0: hsl(216deg 14% 93%);
  --color-calendar-graph-Q1: hsl(130deg 64% 76%);
  --color-calendar-graph-Q2: hsl(136deg 53% 51%);
  --color-calendar-graph-Q3: hsl(136deg 54% 41%);
  --color-calendar-graph-Q4: hsl(139deg 54% 28%);

  --header-height: 60px;
  --footer-height: 36px;
}
