.card {
  font-size: 0.8rem;
  padding: 0.75rem 1rem;
  border: 1px solid var(--gps-border-color);
  background-color: white;
  border-radius: 4px;
}

.description {
  margin-bottom: 0.5rem;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: var(--color-text-secondary);

  & > span:not(:last-child) {
    margin-right: 0.5rem;
  }

  & svg {
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 0.25rem;
  }
}
