.link {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
  line-height: 1.2;
  border: 1px solid var(--color-border);
  border-radius: 4px;
}

.imageWrapper {
  display: flex;
  margin-right: 0.5rem;

  & > img {
    border-radius: 50%;
    background-color: var(--color-border);
  }
}

.infoWrapper {
  overflow: hidden;

  & > p {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & small {
    color: gray(70);
  }
}
