:root {
  --gps-main-color: hsl(214deg 100% 57%);
  --gps-border-color: hsl(214deg 13% 90%);

  --color-background: #fff;
  --color-text-primary: hsl(210deg 12% 16%);
  --color-text-secondary: hsl(212deg 9% 38%);

  --color-warn-bg: hsl(53deg 100% 93%);
  --color-warn-border: hsl(46deg 100% 35% / 20%);
  --color-error-bg: hsl(354deg 100% 95%);
  --color-error-border: hsl(357deg 70% 36% / 20%);

  --color-status-ok: hsl(187deg 100% 42%);
  --color-status-warn: hsl(45deg 100% 51%);
  --color-status-error: red;

  --color-calendar-graph-Q0: hsl(216deg 14% 93%);
  --color-calendar-graph-Q1: hsl(130deg 64% 76%);
  --color-calendar-graph-Q2: hsl(136deg 53% 51%);
  --color-calendar-graph-Q3: hsl(136deg 54% 41%);
  --color-calendar-graph-Q4: hsl(139deg 54% 28%);

  font-size: 16px;
  line-height: 1.618;
}

body {
  padding: 0;
  margin: 0;
  font-family: system-ui;
  background-color: var(--color-background);
  color: var(--color-text-primary);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: var(--gps-main-color);
  text-decoration: none;
}

input,
button {
  font-size: inherit;
}

svg {
  fill: currentColor;
}

::placeholder {
  color: var(--gps-border-color);
}

.app-main {
  padding: 0 0.5rem;
}

.app-footer {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0.5rem;
  border-top: 1px solid var(--gps-border-color);
  background-color: white;

  & > a {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    color: inherit;
  }
}

/* utilities */
.mb05 { margin-bottom: 0.5rem }
.mb1 { margin-bottom: 1rem }
.fw500 { font-weight: 500 }

/* for github emojis */
.g-emoji { padding-right: 6px}
