.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 5rem 0;
}

.description {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.input {
  width: 100%;
  max-width: 260px;
  padding: 0.5rem;
  border: 1px solid var(--gps-border-color);
  border-radius: 4px;
}

.list {
  max-width: 260px;
  max-height: 50vh;
  padding: 0;
  margin: 4px auto 0;
  overflow: auto;
  list-style: none;
  text-align: left;
  border-radius: 4px;
  border: 1px solid var(--gps-border-color);

  &:empty {
    display: none;
  }

  & > li {
    &:not(:last-child) {
      border-bottom: 1px solid var(--gps-border-color);
    }

    & > a {
      padding: 0.5rem;
      display: flex;
      align-items: center;

      & > div:first-child {
        display: flex;
        margin-right: 0.5rem;

        & > img {
          border-radius: 50%;
        }
      }
    }
  }
}
