.loadingScreen {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 0;

  @media (min-width: 960px) {
    display: flex;
    gap: 1rem;
  }
}

.aside {
  font-size: 0.875rem;
  flex: 0 0 25%;
}

.header {
  line-height: 1;
  font-size: 1.5rem;
  margin-bottom: 1rem;

  & > span {
    font-size: 1.5rem;
    font-weight: 300;
  }
}

.avatar {
  border-radius: 4px;
  width: 90px;
  height: 90px;
}

.bio {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
}

.status {
  display: flex;
  font-size: 0.75rem;
  padding: 0.25rem;
  background-color: var(--color-warn-bg);
  border: 1px solid var(--color-warn-border);
  border-radius: 4px;
}

.inlineStats {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0.25rem;
  list-style: none;

  & > li:not(:last-child)::after {
    content: '·';
    padding: 0 5px;
  }
}

.personalInfo {
  list-style: none;
}


.inlineStats,
.personalInfo {
  & > li > svg {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
}

.content {
  padding-top: 2rem;
}

.contentSection {
  padding-bottom: 1rem;
  & > * {
    padding-bottom: 1rem;
  }

  @media (min-width: 768px) {
    display: flex;
    margin: 0 -0.5rem;
    padding-bottom: 2rem;

    & > * {
      margin: 0 0.5rem;
    }
  }
}

.repoCardsList {
  display: flex;
  flex-direction: column;
  list-style: none;

  & > li {
    margin-bottom: 1rem;
  }
}
