.loadingScreen {
  font-size: 1.25rem;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 0;

  @media (min-width: 960px) {
    display: flex;
    gap: 1rem;
  }
}

.aside {
  font-size: 0.875rem;
  flex: 0 0 25%;
  word-break: break-word;
  padding-bottom: 2rem;
}

.header {
  line-height: 1;
  font-size: 1.5rem;

  & > span {
    font-size: 1.5rem;
    font-weight: 300;
  }
}

.avatar {
  border-radius: 4px;
  width: 90px;
  height: 90px;
}

.bio {
  display: flex;
}

.status {
  display: flex;
  font-size: 0.75rem;
  padding: 0.25rem;
  background-color: var(--color-warn-bg);
  border: 1px solid var(--color-warn-border);
  border-radius: 4px;
}

.inlineStats {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0.25rem;
  list-style: none;

  & > li:not(:last-child)::after {
    content: '·';
    padding: 0 5px;
  }

  & > li > svg {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-right: 0.5rem;
    color: var(--color-text-secondary);
    opacity: 0.75;
  }
}

.organizationsList {
  list-style: none;

  & > li {
    display: inline-block;
    margin-right: 0.5rem;

    & > img {
      display: block;
      border-radius: 4px;
    }
  }
}

.contentSection {
  padding-bottom: 1rem;
  & > * {
    padding-bottom: 1rem;
  }

  @media (min-width: 768px) {
    display: flex;
    margin: 0 -0.5rem;
    padding-bottom: 2rem;

    & > * {
      flex: 1 1 100%;
      margin: 0 0.5rem;
    }
  }
}

.contributionsSection > * {
  flex-basis: auto;
}

.repoCardsList {
  display: flex;
  flex-direction: column;
  list-style: none;

  & > li {
    margin-bottom: 1rem;
  }
}
